.containerReady, #ready
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerReady
{
    padding: 20px;
}
#ready
{
    gap: 20px;
    background-color: var(--terceary);
    padding: 30px;
    border-radius: 40px;
}
#ready div svg
{
    width: 50px;
    color: var(--secondary);
}
#ready div:nth-child(2)
{
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#ready div:nth-child(2) > span:nth-child(1)
{
    font-size: 1.8em;
}