.mainContainer
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}
.mainContainer > *
{
    padding: 1px 15px;
}
.btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 50px;
    outline: none;
}

:root
{
    --primary: #091420;
    --secondary: #20A2F2;
    --terceary: #13212c;
    --gray: #D9DCE0;
    --white: #FFF;
}